<div id="container">


    <section id="loginPage">
        <form id='loginForm' method="POST">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="Email">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password">

            <input type="submit" class="register" value="Login">
        </form>
    </section>

    <footer>@SoftUni - JS Back-End - Second Hand Electronics 2023</footer>
</div>
