<div id="container">


    <section id="loginPage">
        <form id='loginForm' action="#" method="">
            <label for="email">Email:</label>
            <input type="text" id="email" name="" placeholder="Email">

            <label for="password">Password:</label>
            <input type="password" id="password" name="" placeholder="Password">

            <input type="submit" class="register" value="Login">
        </form>
    </section>

    <footer>@SoftUni - JS Back-End - Second Hand Electronics 2023</footer>
</div>
